# Neo4j as a Traceability Solution
In this notebook I will demonstrate why graph database Neo4j is a great candidate for the storage of manufacturing data when we want to trace all the processes from procurement of raw materials to production, consumption and disposal via a practical example.

Some basic knowledge of neo4j, python and mySQL could come in handy, but it is defnitely possible to follow along without this knowledge.
## Preparation of the example database
In the practical example we take a look at data for an imaginary bread distribution process. Farmers produce grain, that is processed to flour by processors, further baked to bread by bakers and then distributed to bread machines where customers can make purchases. The schema of our data looks as follows, where the important part for the query examples below is encircled:

![alt text](figure1.png "Title")

A Neo4j and mySQL instance in a docker container will be populated with this data by running the docker-compose.yml

When this is done (some 60 seconds after docker-compose up), we can connect to the databases via python. Make sure py2neo, sqlalchemy, pandas and pymysql are installed in the environment.

We run a testquery on both databases to connect to our databases and make sure everything is working correctly:

In [47]:
import py2neo
import sqlalchemy as sql
import pandas as pd

graph = py2neo.Graph(
    host="localhost",
    port=7687,
    user="neo4j",
    password="connect",
    name="neo4j"
)

df1 = pd.DataFrame(graph.run("MATCH (a:Purchase) RETURN count(a) as number_of_purchases").data())
print("Neo4j output:")
print(df1)

db_connection_str = 'mysql+pymysql://root:debezium@localhost:3306/traceability'
db_connection = sql.create_engine(db_connection_str)

df2 = pd.read_sql('SELECT count(*) as number_of_purchases FROM purchases', con=db_connection)
print("")
print("mySQL output:")
print(df2)

Neo4j output:
   number_of_purchases
0                10000

mySQL output:
   number_of_purchases
0                10000

The previous queries should both yield 10000, as the datagenerator in docker-compose explicitly generates 10000 purchases. Now that we know everything is up and running we can compare some queries to showcase the power and flexibility of neo4j in the context of deeply nested data.
## first Query scenario
Let's imagine the scenario where a hardworking farmer harvests a batch of grain, let's say Grainbatch 0. Unbenownst to him, some chemical company in the area has been dumping their waste products in the vicinity, contaminating the soil and the Grainbatch that he harvested. As such, all the bread that is produced from this Grainbatch is contaminated and we want to find all the customers that bought bread originating from Grainbatch 0 to alert them and hopefully prevent them from consuming it.

In Neo4j, we do this via the following Query:

In [46]:
Query = "MATCH (:Grainbatch {id:0})-[*]->(a:Customer) RETURN DISTINCT a.id as customer_id"

df = pd.DataFrame(graph.run(Query).data())
print("Number of distinct affected customers:")
print(df["customer_id"].count())
print("")
print("Ids of 5 affected customers:")
df.head()

Number of distinct affected customers:
1957

Ids of 5 affected customers:

   customer_id
0         3322
1         4457
2         3492
3         2425
4         1759

We used the "-\[*\]->" statement in the query to signify that we want to look any path length downstream from Grainbatch 0, find the customers there and then return all of the distinct customer ids that we found. Very simple

Now let's build the same query for mySQL:

In [45]:
Query = """
    SELECT DISTINCT child_customer_id AS customer_id
    FROM purchases as p
        INNER JOIN distributions AS d
        ON p.parent_distribution_id = d.distribution_id
        
        INNER JOIN breadbatches AS b
        ON d.parent_breadbatch_id = b.breadbatch_id
        
        INNER JOIN flourbatches as f
        ON b.parent_flourbatch_id = f.flourbatch_id
        WHERE f.parent_grainbatch_id = 0
"""

df = pd.read_sql(Query, con=db_connection)

print("Number of distinct affected customers:")
print(len(df))
print("")
print("Ids of 5 affected customers:")
df.head()

Number of distinct affected customers:
1957

Ids of 5 affected customers:

   customer_id
0         2395
1         1147
2          491
3           35
4         4514

This query was clearly a lot more involved. We required 3 JOIN statements. And in order to implement these JOINs, we have to explicitly know which tables to relate to one another ('Buy' relates to 'Dist' relates to 'Bake' relates to 'Process') and which columns relate the tables to eachother. The neo4j query required significantly less overhead.

## second Query scenario

Imagine now a scenario where for some bread types we don't just use flour from Flourbatches, but we first refine the Flour in another process as is shown in following figure:

![alt text](figure2.png "Title")

In mySQL we would have to explicitly know all the different ways the Grainbatch gets processed and consumed downstream by customers and implement all the different ways our tables have to be JOINed. This is very prone to error.

In Neo4j, we would have to change nothing about our previous Query. We can completely rely on the flexibility of the "-\[*\]->" query statement.

## third Query scenario

Customers can give ratings to their bread purchases. Imagine some purchase recieves a very bad rating. We want to Query our database to see where the bad rating comes from. Assuming the bread was rated badly for good reason, we can attempt to look upstream in our production process to check where the problem could lie.

If the problem lies within the distribution process, we can imagine that a lot of the purchases downstream from this distribution process have a bad rating. If the problem lies with the baking process, we can imagine that that a lot of the purchases downstream from this baking process have a bad rating (this necessarily implies that a lot of the purchases downstream from the distribution process have a bad rating as well, since the distribution process lies downstream from the bad baking process).
A similar reasoning goes for the flour processing process and the grain harvesting process.

So what we want to do is query upstream from the bad purchase to find its parent distribution, baking, flour processing and harvesting process and from these processes check back downstream for all their respective child purchases and check the ratio of bad ratings on these purchases. The query for this will follow the colored arrows from the figure below:

![alt text](figure3.png "Title")

First an auxiliary query is necessary to find a suitable badly rated purchase for this example (Using neo4j for this :) )

In [40]:
#find a flourbatch with a lot of badly rated child purchases
Query = """MATCH (a:Flourbatch)-[*]->(b:Purchase)
        WITH a, collect(b) as allPurchases 
        WITH size([x in allPurchases where x.goodrating = false]) as top,
            size(allPurchases)*1.0 as bottom, allPurchases
        WHERE top/bottom > 0.8 RETURN allPurchases[0].id as CustomerID"""

badPurchaseID = graph.run(Query).data()[0]["CustomerID"]
print("Suitable badly rated Purchase found with ID:")
print(badPurchaseID)

Suitable badly rated Purchase found with ID:
500

Now we utilise neo4j to query for the above scenario using the badly rated purchase that we found in the auxiliary query:

In [44]:
Query = f"""UNWIND ['Grainbatch','Flourbatch','Breadbatch','Machinebatch'] AS y
        MATCH (:Purchase {{id:{badPurchaseID}}})<-[*]-(a) where labels(a)=[y] WITH a, y
        MATCH (a)-[*]->(b:Purchase) WITH a.id AS batch_id, collect(distinct b) AS allPurchases, y
        WITH batch_id, y,
            size([x in allPurchases where x.goodrating = false]) as top,
            size(allPurchases)*1.0 as bottom
        RETURN y as batch_type, batch_id, top/bottom as bad_rating_percentage"""

df = pd.DataFrame(graph.run(Query).data())
df["bad_rating_percentage"] = df["bad_rating_percentage"].map("{:.0%}".format)

df

     batch_type  batch_id bad_rating_percentage
0    Grainbatch         0                   34%
1    Flourbatch         3                   88%
2    Breadbatch        17                   94%
3  Machinebatch        85                   95%

We find that the flourbatch, breadbatch and machinebatch all have a lot of badly rated purchases as children. Since the flourbatch is the highest in the parent-child relation, we find that the problem lies with the flourbatch and we should contact the flour processing firm that made the flourbatch.

The Neo4j query above is a bit more involved than just the "-\[\*\]->" that we used previously, but for what the query ended up doing it's still very compact and again very flexible through the use of the "-\[\*\]->" statement.

Now let's try to build this same query in mySQL (wish me luck):

In [43]:
column_names = ['batch_type','batch_id','bad_rating_percentage']
df = pd.DataFrame(columns = column_names)

Query = f"""
    SELECT p.good_rating, g.grainbatch_id
    FROM purchases as p
        INNER JOIN distributions AS d
        ON p.parent_distribution_id = d.distribution_id
        
        INNER JOIN breadbatches AS b
        ON d.parent_breadbatch_id = b.breadbatch_id
        
        INNER JOIN flourbatches as f
        ON b.parent_flourbatch_id = f.flourbatch_id
        
        INNER JOIN grainbatches as g
        ON f.parent_grainbatch_id = g.grainbatch_id
        
        INNER JOIN flourbatches as f2
        ON g.grainbatch_id = f2.parent_grainbatch_id
        
        INNER JOIN breadbatches as b2
        ON f2.flourbatch_id = b2.parent_flourbatch_id
        
        INNER JOIN distributions as d2
        ON b2.breadbatch_id = d2.parent_breadbatch_id
        
        INNER JOIN purchases as p2
        ON d2.distribution_id = p2.parent_distribution_id
        WHERE p2.purchase_id = {badPurchaseID};
"""

df1 = pd.read_sql(Query, con=db_connection)
farm_badrating = "{:.0%}".format(1 - sum(df1["good_rating"])/len(df1))
row = {'batch_type':'Grainbatch', 'batch_id':df1['grainbatch_id'][0], 'bad_rating_percentage':farm_badrating}
df = df.append(row, ignore_index = True)

Query = f"""
    SELECT p.good_rating, f.flourbatch_id
    FROM purchases as p
        INNER JOIN distributions AS d
        ON p.parent_distribution_id = d.distribution_id
        
        INNER JOIN breadbatches AS b
        ON d.parent_breadbatch_id = b.breadbatch_id
        
        INNER JOIN flourbatches as f
        ON b.parent_flourbatch_id = f.flourbatch_id
        
        INNER JOIN breadbatches as b2
        ON f.flourbatch_id = b2.parent_flourbatch_id
        
        INNER JOIN distributions as d2
        ON b2.breadbatch_id = d2.parent_breadbatch_id
        
        INNER JOIN purchases as p2
        ON d2.distribution_id = p2.parent_distribution_id
        WHERE p2.purchase_id = {badPurchaseID};
"""

df1 = pd.read_sql(Query, con=db_connection)
flour_badrating = "{:.0%}".format(1 - sum(df1["good_rating"])/len(df1))
row = {'batch_type':'Flourbatch', 'batch_id':df1['flourbatch_id'][0], 'bad_rating_percentage':flour_badrating}
df = df.append(row, ignore_index = True)

Query = f"""
    SELECT p.good_rating, b.breadbatch_id
    FROM purchases as p
        INNER JOIN distributions AS d
        ON p.parent_distribution_id = d.distribution_id
        
        INNER JOIN breadbatches AS b
        ON d.parent_breadbatch_id = b.breadbatch_id
        
        INNER JOIN distributions as d2
        ON b.breadbatch_id = d2.parent_breadbatch_id
        
        INNER JOIN purchases as p2
        ON d2.distribution_id = p2.parent_distribution_id
        WHERE p2.purchase_id = {badPurchaseID};
"""

df1 = pd.read_sql(Query, con=db_connection)
bake_badrating = "{:.0%}".format(1 - sum(df1["good_rating"])/len(df1))
row = {'batch_type':'Breadbatch', 'batch_id':df1['breadbatch_id'][0], 'bad_rating_percentage':bake_badrating}
df = df.append(row, ignore_index = True)

Query = f"""
    SELECT p.good_rating, d.distribution_id
    FROM purchases as p
        INNER JOIN distributions AS d
        ON p.parent_distribution_id = d.distribution_id
        
        INNER JOIN purchases as p2
        ON d.distribution_id = p2.parent_distribution_id
        WHERE p2.purchase_id = {badPurchaseID};
"""

df1 = pd.read_sql(Query, con=db_connection)
dist_badrating = "{:.0%}".format(1 - sum(df1["good_rating"])/len(df1))
row = {'batch_type':'distribution', 'batch_id':df1['distribution_id'][0], 'bad_rating_percentage':dist_badrating}
df = df.append(row, ignore_index = True)

df

     batch_type batch_id bad_rating_percentage
0    Grainbatch        0                   34%
1    Flourbatch        3                   88%
2    Breadbatch       17                   94%
3  distribution       85                   95%

In contrast to the neo4j Query where we iterate over a list to do everything at once, I could not manage to do everything in a single mySQL query, and had to write an individual query for every upstream process. The mySQL queries are also far from elegant.

Here again, neo4j's flexibility shines through: Suppose we have an additional process upstream from the badly rated purchase that we are following (like for example the flour refinery that we mentioned earlier). All we have to do to include this process in the neo4j Query is add it to the inital UNWIND list (see neo4j query code block). Doing this in mySQL would require us to make yet another error-prone query with a ton of joins.

## Conclusion

We've made a comparison of neo4j and mySQL as database solutions for a fictitious traceability problem. We find that neo4j allows us to elegantly query this kind of deeply nested data, while other database solutions are significantly less flexible and more error-prone in this context.

In this notebook we showed just a couple of simple direct queries. For the more data scientifically inclined reader, there is a whole host of graph data science tools for neo4j as well: https://neo4j.com/product/graph-data-science-library/

I hope you enjoyed this short notebook showcasing some of the advantages of neo4j. If you have any questions, remarks or suggestions, I'd be delighted to hear from you at: wannes.debreuck@humain.ai